<?xml version="1.0" encoding="UTF-8"?>
<Settings>
  <Server Displays="2">http://192.168.1.111:2009/meos</Server>
  <Display Name="Disp-1" Cols="2">
    <Col ColID="1" ColSize="50" Content="Result">class1, class2, class3, class4</Col>
    <Col ColID="2" ColSize="50" Content="Result">class1, class2, class3, class4</Col>
  </Display>
  <Display Name="Disp-2" Cols="2">
    <Col ColID="1" ColSize="50" Content="Result">class1, class2, class3, class4</Col>
    <Col ColID="2" ColSize="50" Content="Result">class1, class2, class3, class4</Col>
  </Display>
</Settings>