<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Show.master.vb" Inherits="MeOS_Live.Show" %>

<html>
<head runat="server">
    <title>MeOS Live</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ContentPlaceHolder ID="main" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
